@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.invites{
  width: 50%;
  margin: 10rem auto;
  height: 570px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-card {
  border: solid 1px black;
  padding: 20px;
}


.navbar {
  border: solid 1px black;
  padding: 20px;
}

.slide img {
  width: 13rem;
  height: 20rem;
  margin: auto;
}

.slide {
  transform: scale(0.4);
  transition: transform 500ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.0);
  opacity: 1;
}

.arrow{
  background-color: white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.invite-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.invite-instructions{
  width: 50%;
  margin-top: 1%;
  font-style: italic;
  font-weight: bold;
  font-size: large;
  position: absolute;
}

.invites {
  /* border: solid 1px black; */
  margin: 0%;
  margin-top: 4%;
  height: 100%;
}

.big-card{
  width: 600px;
  padding-right: 100px;
  margin-top: 1%;
}
