@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.invites{
  width: 50%;
  margin: 10rem auto;
  height: 570px;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61DAFB;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel-card {
  border: solid 1px black;
  padding: 20px;
  margin-top: 10%;
}
.most-popular-themes{
  margin-top: 2%;
}

div {
  max-width: 100%;
}
.nav-top-padding {
  padding-top:90;
 }

.header{
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 3.s ease-in;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .15);
  /* background-color: greenyellow; */
}

.header-bg {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 3.s ease-in;
  background-color: white;
  box-shadow: 0 6px 8px -3px #999
}
.nav-link  {
  color: black !important;
  font-weight: 400 !important;
}

/* .mask-custom {
  backdrop-filter: blur(6px); 
  background-color: rgba(255, 255, 255, .15);
  box-shadow: 0 9px 10px -3px #999
} */

/* .navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
} */

#intro{
  background-image: url(https://images.pexels.com/photos/1721943/pexels-photo-1721943.jpeg);
  /* background-color: rgba 250, 182, 162, 0.15; */
  /* resizeMode: contain; */
  /* flex: 1; */
  /* object-fit: cover; */
  /* height: 550px !important; */
}
.welcome-pg-container{
  background-color: antiquewhite;
}
.hero {
  background-color: #F3EED9;
  min-height: 330px;
  align-items: center;
  width: 100%;
}

.slide img {
  width: 100%;
  height: 50%;
  margin: auto;
}
.slide {
  transform: scale(0.4);
  transition: transform 500ms;
  opacity: 0.5;
}
.activeSlide {
  transform: scale(1.0);
  opacity: 1;
}
.arrow{
  background-color: white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow svg {
  transition: color 300ms;
}
.arrow svg:hover {
  color: #68EDFF;
}
.next {
  right: 0%;
  top: 50%;
}
.prev {
  left: 0%;
  top: 50%;
}
.invite-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.invite-instructions{
  width: 50%;
  margin-top: 1%;
  font-style: italic;
  font-weight: bold;
  font-size: large;
  position: absolute;
}
.invites {
  /* border: solid 1px black; */
  margin: 0%;
  margin-top: 4%;
  height: 100%;
}
.big-card{
  width: 40%;
  padding-right: 50px;
  margin-top: 3%;
}
.invite-name-container{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200%;
  text-align: left;
  margin-left: 1%;
  border-radius: 10%;
}
.label{
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}
.input{
  margin-bottom: 15px;
  width: 100%;
}
.login-form {
  color: white;
  position: absolute;
  top: 35%;
  left: 6%;
  height: auto;
  width: 45%;
  background-color: pink;
  padding-left: 30px;
  margin-right: 20px;
  padding-right: 20px;
  margin-top: 10%;
  border-radius: 30px;
  border: 4px solid hotpink;
}
.invite-description-box {
  padding-bottom: 10%;
}
.btn{
  width: 80%;
  border: solid 5px hotpink;
  background-color: hotpink;
  font-size: large;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
#bton{
  width: 30%;
}

.btn:hover{
  background-color: white;
  color: hotpink;
}

.card-img-top{
  width: 100%;
  max-height: 200px;
}

.w-description{
  font-size: x-large;
  width: 50%;
  position: absolute;
  right: 0%;
  top: 16%;
  font-style: italic;
  font-weight: bold;
}


/* destination pg */

#destination-container {
  background: #D9D9D6;
  margin-top: 40px;
  margin-bottom: 20px;
}

#destination-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
  max-width: 800px;
  max-height: 500px;
  width: 100%;
  align-content: center;
  box-shadow: 8px 6px
}

.destination-headings{
  margin-top: 20px;
  margin-bottom: 20px;
}

.destination-border{
  border-style: solid;
  /* border-bottom: pink; */
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 50px;
}


/* Login pg */
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://images.pexels.com/photos/5022353/pexels-photo-5022353.jpeg");
  background-size: cover;
  background-position: center center;
}

.snowflake {
  transform: rotate(45deg);
  position: absolute;
  margin-left: -13%;
  margin-top: 12%;
}

.snowflake-2 {
  transform: rotate(45deg);
  position: absolute;
  margin-left: -13%;
  margin-top: 50%;
}

.themes-img-container{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 40%;
  margin-left: 5%;
}

.winter-theme-imgs{
  padding-bottom: 5%;
}

.winter-h1{
  margin-left: 6%;
  margin-top: 2%;
  font-style: italic;
  font-weight: bold;
}

/* catering pg */

.indiv-options{
  display: flex;
  order: 3;
  flex-direction: column;
justify-content: space-between;
}

body {
  background: #f9f9f9;
  font-family: "roboto", sans-serif;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  /* font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  margin-bottom: 4rem;
}

/* main pg */

.banner {
  color: white;
}
.border-main-1 {
  background-color: #222C2A !important;
}
.text-main-1{
  color: #F3EED9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}
.img-main-pg{
  width: 500px;
  padding-top: 6%;
  padding-bottom: 6%;
}
.border-main-2 {
  background-color: #824936;

}

#choice-container {
  max-width: 15%;
  max-height: 450px;
  padding: 2%;
  margin-left: 15%;
  margin-top: 7%;
  border: solid 5px black;
}

.form-check-label{
  text-align: left;
}

.body-container{
  padding-right: 30%;
  padding-top: 2%;
}

.cuisine-flexbox{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* main container for main page */

.main-pg-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* welcome page container */

.welcome-pg-container {
  background-color: white;
  margin: 69px;
}

.welcome-page-container {
  margin-left: 100px;
}

/* header image styling */


.wedding-img {
  height: 600px;
  width: 1100px;
  margin-bottom: 20px;
}

.pic-font {
  font-size: xx-large;
  margin-top: 220px;
}

/* about us container */

.about-us-profile-img {
  height: 300px;
  width: 525px;
}

.vision-statement {
  margin-bottom: 35px;
}

/* for main page styling */

.purpose-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: start;
}

.purpose-container:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.purpose-container:nth-child(2) .purpose-info-container {
  margin-left: 0;
  margin-right: 25px;
}


.purpose-info-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  margin-left: 69px;
}

/* styling for cards on main page */

.roadmap {
  background-color: white;
}

.rdmap-name {
  margin-top: 169px;
}

.top-rdmap {
  margin-top: 69px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  /* padding-bottom: 0%; */
}
.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;

  background-color: coral;
}

.about-team-img{
  max-width: 400px !important;
  max-height: 250px !important;
  clip-path: circle();
}

.main-pg-card{
max-width: 100px;
}
.team-p {
  margin-top: 60px;
  margin-bottom: 60px;
  /* border-style: double;
  border-color: rgb(144, 193, 201); */
  background-color: white;
  font: white;
}
/* 
.member-cards-container {
  background-color: white;
  display: flex;
  margin-left: 235px;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 220px;
  height: 100;

}

.member-img {
  border-radius: 20px;
}

.member-name {
  font-weight: 700;
}

.main-pg-footer {
  width: 100%;
  background-color: black;
  color: rgb(144, 193, 201);
  ;
} */

.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  /* font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  margin-bottom: 4rem;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: rgb(144, 193, 201);
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
  height: 10px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  /* z-index: 100; */
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid whitesmoke;
  border-radius: 100%;
  background-color: rgb(144, 193, 201);
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
